SmartWallet.xcodeproj/project.pbxproj
SmartWallet.xcodeproj/project.xcworkspace/xcuserdata/abejohnson.xcuserdatad/UserInterfaceState.xcuserstate
SmartWallet.xcodeproj/xcuserdata/abejohnson.xcuserdatad/xcschemes/xcschememanagement.plist
SmartWallet.xcodeproj/project.pbxproj
.DS_Store
#Cocoapods
Pods/

